# Optional. If empty, https://eth.llamarpc.com is used (free public RPC).
# For less rate-limiting / better reliability, get a free key at
# alchemy.com / infura.io / drpc.org and set the full URL here.
ETH_RPC_URL=

PORT=3000
